* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

header{
  background-color: black;
  color: white;
  display: inline-flex;
  width: 100%;
  padding: 20px;
  border: 1px solid black;
}

header span{
  font-weight:bold;
  width: 20%;
}

header nav {
  display: inline-flex;
  width: 75%;
}

header nav ul{
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  border: none;
  list-style:none;
}

main{
  width: 100%;
  padding:20px;
}

main #background{
  width: 100%;
  height: 300px;
  background-image: url('./images/background.jpg');
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;  
}

main #background h1{
  text-align: center;
  font-weight: 700;
  color: white; 
  font-size: 48px; 
}

main #background img#perfil{
  width:200px;
  height:200px;
  position:absolute;
  z-index: 1;
  top: 220px;
  left: 30px;
  border-radius: 50%;
}

main div#headline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 80%;
  float: right;
  margin-top: 20px;
}

main div#headline h2{ 
text-align: start;
}

main div#headline p{
  text-align: start;
}


main div#experiência {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  float:right;
  width:100%;
  margin-top: 20px;
  gap: 20px;
}


main div#experiência hr{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

main div#experiência p{
text-align: justify;
}

main div#experiência h3{
font-size: 20px;
}

main div#sobre-mim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  float:right;
  width:100%;
  margin-top: 30px;
  gap: 30px;
}


main div#sobre-mim hr{
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

main div#sobre-mim p{
text-align: justify;
}

main div#sobre-mim h4{
font-size: 20px;
}

main section.projects{
  display:flex;
  flex-direction: column;
  justify-content: 20px;
  align-items: flex-start;
  float:right;
  width:100%;
  margin-top: 20px;
  gap: 20px;
}